ul {
    list-style: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

/* Globals */

.btn {
    
}

h2 {
    
}

p {
    
}

.quote {
    img {
        
    }
    p {
        
    }
    span {
        
    }
}

/* Header */

.main-header {
    height:100px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    .logo {
        
    }
    .main-nav {
        li {
        }
        a {
        }
    }
}


/* Hero */

.hero {
    position:relative;
    height:750px;
    .video {
        position:absolute;
    }
    span {
    }
    h1 {
    }
    p {
    }
}

/* Logos */

.logos {
    height:120px;
}

/* Welcome */

.welcome {
    height:840px;
}

/* Intro */

.intro {
    height:690px;
}

/* Work */

.work {
    height:930px;
    .work-nav {
        li {
        }
        li a {
        }
    }
}

/* Core Competencies */

.competencies {
    height:830px;
    .skills li {
        p {
        }
        span {
            
        }
    }
    .competencies-nav {
        li {
        }
        li a {
        }
    }
}

/* Worked With */

.worked-with {
    height:730px;
    h2.small {
        
    }
    li {
    }
    li a {
        
    }
}

/* Contact */

.contact {
    height:890px;
    h2 {
        
    }
    p {
    }
    .form-group {
        input.form-control {
            
        }
        textarea.form-control {
            
        }
    }
}

/* Footer */

.footer {
    height:100px;
}



/* video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: 100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(polina.jpg) no-repeat;
background-size: cover;
} */