ul {
    list-style: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

/* Globals */

.btn {
    
}

h2 {
    
}

p {
    
}

.quote {
    img {
        
    }
    p {
        
    }
    span {
        
    }
}

/* Header */

.main-header {
    .logo {
        
    }
    .main-nav {
        li {
        }
        a {
        }
    }
}


/* Hero */

.hero {
    position:relative;
    .video {
        position:absolute;
    }
    span {
    }
    h1 {
    }
    p {
    }
}

/* Logos */

.logos {
    
}

/* Welcome */

.welcome {
    
}

/* Intro */

.intro {
    
}

/* Work */

.work {
    .work-nav {
        li {
        }
        li a {
        }
    }
}

/* Core Competencies */

.competencies {
    .skills li {
        p {
        }
        span {
            
        }
    }
    .competencies-nav {
        li {
        }
        li a {
        }
    }
}

/* Worked With */

.worked-with {
    h2.small {
        
    }
    li {
    }
    li a {
        
    }
}

/* Contact */

.contact {
    h2 {
        
    }
    p {
    }
    .form-group {
        input.form-control {
            
        }
        textarea.form-control {
            
        }
    }
}

/* Footer */

.footer {
}



/* video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: 100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(polina.jpg) no-repeat;
background-size: cover;
} */